/* Main */
.root {
    -fx-font-size: 14px;
    -fx-font-family: 'Roboto Condensed';
}

.separator *.line {
    -fx-border-color: rgba(54, 69, 79, 1.0);
    -fx-border-width: 0.1px;
}

/* Font */
@font-face {
    src: url("font/RobotoCondensed.ttf");
}

/* Panel */
.left-pane {
    -fx-background-color: rgba(54, 69, 79, 1.0);
}

.right-pane {
    -fx-fill: rgba(54, 69, 79, 1.0);
}

.widget-pane-primary {
    -fx-border-color: rgba(54, 69, 79, 1.0);
    -fx-border-radius: 4px;
}

.widget-pane-primary-background {
    -fx-background-color: rgba(54, 69, 79, 0.01);
}

.widget-pane-primary-background-fill {
    -fx-background-color: rgba(54, 69, 79, 1.0);
}

.widget-pane-primary > Text {
    -fx-fill: rgba(54, 69, 79, 1.0);
}

.widget-pane-secondary {
    -fx-border-color: rgba(113, 140, 158, 1.0);
    -fx-border-radius: 4px;
}

.widget-pane-secondary-background {
    -fx-background-color: rgba(113, 140, 158, 0.1);
}

.widget-pane-secondary-background-fill {
    -fx-background-color: rgba(113, 140, 158, 1.0);
}

.widget-pane-secondary > Text {
    -fx-fill: rgba(113, 140, 158, 1.0);
}

/* Main controls */
.button {
    -fx-background-color: transparent;
    -fx-border-color: rgba(54, 69, 79, 1.0);
    -fx-border-radius: 4px;
    -fx-text-fill: rgba(54, 69, 79, 1.0);
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: rgba(54, 69, 79, 1.0);
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}

.button-secondary {
    -fx-border-color: rgba(113, 140, 158, 1.0);
    -fx-text-fill: rgba(113, 140, 158, 1.0);
}

.button-secondary:hover {
    -fx-background-color: rgba(113, 140, 158, 1.0);
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}

.button-secondary-filled {
    -fx-background-color: rgba(113, 140, 158, 1.0);
    -fx-border-color: rgba(113, 140, 158, 1.0);
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}

.button-secondary-filled:hover {
    -fx-background-color: rgba(255, 255, 255, 1.0);
    -fx-text-fill: rgba(113, 140, 158, 1.0);
}

.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: rgba(54, 69, 79, 1.0);
    -fx-border-radius: 56px;
    -fx-padding: 6px;
}

.radio-button:hover .radio {
    -fx-background-color: rgba(54, 69, 79, 0.1);
}

.radio-button .dot {
    -fx-padding: 4px;
    -fx-mark-color: rgba(54, 69, 79, 1.0);
}

/* Text */
.title {
    -fx-font-size: 36px;
    -fx-fill: rgba(54, 69, 79, 1.0);
}

.nav-section-title {
    -fx-font-size: 28px;
    -fx-fill: rgba(113, 140, 158, 1.0);
}

.section-title {
    -fx-font-size: 18px;
    -fx-fill: rgba(54, 69, 79, 1.0);
}

.section-title-background {
    -fx-font-size: 24px;
    -fx-fill: rgba(255, 255, 255, 1.0);
}

.row-section-title {
    -fx-font-size: 20px;
    -fx-fill: rgba(113, 140, 158, 1.0);
}

.action-status {
    -fx-font-size: 12px;
    -fx-fill: rgba(54, 69, 79, 0.5);
}

.action-status-success {
    -fx-font-weight: bold;
    -fx-fill: rgba(0, 128, 0, 1.0);
}

.action-status-failure {
    -fx-font-weight: bold;
    -fx-fill: rgba(145, 8, 12, 1.0);
}

/* Navigation menu */
.nav-button {
    -fx-background-color: rgba(54, 69, 79, 1.0);
    -fx-border-color: rgba(167, 184, 195, 1.0);
    -fx-border-radius: 4px;
    -fx-text-fill: rgba(167, 184, 195, 1.0);
    -fx-font-size: 16px;
}

.nav-button:hover {
    -fx-background-color: rgba(167, 184, 195, 1.0);
    -fx-text-fill: rgba(54, 69, 79, 1.0);
}